Repository AlexsLemonade/OpenPBTA-analysis, pull requests merged in 2020-01, with the labels that each got.

#388 Update ATRT molecular subtyping module to use GSVA scores
  analyses/README.md
  analyses/molecular-subtyping-ATRT/00-subset-files-for-ATRT.R
  analyses/molecular-subtyping-ATRT/01-ATRT-molecular-subtyping-data-prep.Rmd
  analyses/molecular-subtyping-ATRT/01-ATRT-molecular-subtyping-data-prep.nb.html
  analyses/molecular-subtyping-ATRT/README.md
  analyses/molecular-subtyping-ATRT/atrt-subset/atrt_gsva.tsv
  analyses/molecular-subtyping-ATRT/atrt-subset/atrt_ssgsea.RDS
  analyses/molecular-subtyping-ATRT/plots/atrt_heatmap.png
  analyses/molecular-subtyping-ATRT/results/ATRT_molecular_subtypes.tsv
  analyses/ssgsea-hallmark/README.md
Labels: molecular subtyping, updated analysis

#396 Analysis doc
  README.md
Labels: documentation

#395 Begin modeling and exploration of GSVA scores
  .circleci/config.yml
  analyses/gene-set-enrichment-analysis/02-exploratory-gsea.Rmd
  analyses/gene-set-enrichment-analysis/02-exploratory-gsea.html
  analyses/gene-set-enrichment-analysis/README.md
  analyses/gene-set-enrichment-analysis/run-gsea.sh
Labels: improvement, updated analysis

#409 Project README update
  README.md
Labels: documentation

#427 PR 6 of n - Molecular Subtyping - HGG (Cleaning CNV data)
  analyses/molecular-subtyping-HGG/03-HGG-molecular-subtyping-cnv.Rmd
  analyses/molecular-subtyping-HGG/03-HGG-molecular-subtyping-cnv.nb.html
  analyses/molecular-subtyping-HGG/results/HGG_cleaned_cnv.tsv
  analyses/molecular-subtyping-HGG/run-molecular-subtyping-HGG.sh
Labels: cnv, molecular subtyping

#428 PR 7 of n - Molecular Subtyping - HGG (Cleaning mutation data)
  analyses/molecular-subtyping-HGG/04-HGG-molecular-subtyping-mutation.Rmd
  analyses/molecular-subtyping-HGG/04-HGG-molecular-subtyping-mutation.nb.html
  analyses/molecular-subtyping-HGG/results/HGG_cleaned_mutation.tsv
  analyses/molecular-subtyping-HGG/run-molecular-subtyping-HGG.sh
Labels: molecular subtyping, snv

#437 Document which data are WGS samples only
  doc/data-files-description.md
  doc/data-formats.md
Labels: documentation

#445 Update CI subset file creation to accommodate v13
  analyses/create-subset-files/01-get_biospecimen_identifiers.R
  analyses/create-subset-files/02-subset_files.R
  analyses/create-subset-files/README.md
  analyses/create-subset-files/biospecimen_ids_for_subset.RDS
  analyses/create-subset-files/create_subset_files.sh
Labels: ci

#444 v13 data release
  doc/data-files-description.md
  doc/data-formats.md
  doc/release-notes.md
  download-data.sh
Labels: ready for review

#454 Update molecular-subtyping-ATRT modules at a glance entry
  analyses/README.md
Labels: documentation

#462 Update ATRT subtyping to use minimal set of genes
  analyses/README.md
  analyses/molecular-subtyping-ATRT/00-subset-files-for-ATRT.R
  analyses/molecular-subtyping-ATRT/01-ATRT-molecular-subtyping-data-prep.Rmd
  analyses/molecular-subtyping-ATRT/01-ATRT-molecular-subtyping-data-prep.nb.html
  analyses/molecular-subtyping-ATRT/README.md
  analyses/molecular-subtyping-ATRT/atrt-subset/atrt_focal_cn.tsv.gz
  analyses/molecular-subtyping-ATRT/atrt-subset/atrt_gistic_broad_values.tsv
  analyses/molecular-subtyping-ATRT/atrt-subset/atrt_gsva.tsv
  analyses/molecular-subtyping-ATRT/plots/atrt_heatmap.png
  analyses/molecular-subtyping-ATRT/results/ATRT_molecular_subtypes.tsv
Labels: molecular subtyping

#475 Subtype chordoma
  .circleci/config.yml
  analyses/README.md
  analyses/molecular-subtyping-chordoma/01-Subtype-chordoma.Rmd
  analyses/molecular-subtyping-chordoma/01-Subtype-chordoma.nb.html
  analyses/molecular-subtyping-chordoma/README.md
  analyses/molecular-subtyping-chordoma/plots/smarcb1_expression_copy_status.png
  analyses/molecular-subtyping-chordoma/results/chordoma_smarcb1_status.tsv
Labels: molecular subtyping
